%h1 SELECT THE DATA YOU WANT
= form_tag :method => 'get' do 
  = label :occurrence, :district, 'Distrito inicial'
  = select_tag :starter_district, options_for_select((0..93))
  %br
  = label :occurrence, :district, 'Distrito final'
  = select_tag :finish_district, options_for_select((0..93), 93)
  %br
  =label :occurrence, :starter_year, ''
  = select_tag :starter_year, options_for_select(2013..(Time.now.year))
  %br
  =label :occurrence, :finish_year, ''
  = select_tag :finish_year, options_for_select(2013..(Time.now.year), (Time.now.year))
  %br

  = submit_tag 'Atualizar Dados', :style => "margin-bottom: 15px;", :class => 'btn btn-primary btn-whitelink', :remote => true

- if @running == 2
  %p COMPLETO!