%h1 Mapa com as Ocorrências
= form_tag occurrences_maps_path, method: :get do 
  = label :occurrence, :district, 'Filtro'

  = select_tag :select_crime_type, options_from_collection_for_select(@crime_type_list, 'id', 'name', params[:select_crime_type]), include_blank: "Todos"
  = select_tag :select_month, options_for_select(@month_list, params[:select_month]), include_blank: "Todos"
  = select_tag :select_year, options_for_select(@year_list, params[:select_year]), include_blank: "Todos"

  = submit_tag 'Filtrar', :class => 'btn btn-primary btn-sm'  

:css
  html, body {
    height: 100%;
    margin: 0;
  }
  #map {
    height: 100%;
    width: 100%;
  }
%div{id: :map}

:javascript
  /**
   * @fileoverview Sample showing capturing a KML file click
   *   and displaying the contents in a side panel instead of
   *   an InfoWindow
   */
  
  var map;
  var src = '#{@kmz_url}?time={Time.now.getutc}';

  
  /**
   * Initializes the map and calls the function that creates polylines.
   */
  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
    });
    loadKmlLayer(src, map);
  }
  
  /**
   * Adds a KMLLayer based on the URL passed. Clicking on a marker
   * results in the balloon content being loaded into the right-hand div.
   * @param {string} src A URL for a KML file.
   */
  function loadKmlLayer(src, map) {
    var kmlLayer = new google.maps.KmlLayer(src, {
      map: map
    });
    google.maps.event.addListener(kmlLayer, 'click', function(event) {
      console.log(event.featureData);
    });
  }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCOiLDNoyiBSvz1oGQtxIt5aYtp_Baxx7Q&signed_in=true&callback=initialize"}